/* main contact section design ===================== */

.main__contact {
    width: 100%;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
    padding: 2rem 2.5rem;
    margin-bottom: 5rem;
}

.contact__title {
    font-family: var(--text-font-title);
    color: var(--text-color);
    font-size: 8.5vw;
    font-weight: 560;
    margin-bottom: 1.5rem;
}

.contact__infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    font-size: 4.5vw;
    padding: 0 4rem;
    line-height: 1.7;
    letter-spacing: 2px;
}

/* Footer section design ===================== */

footer {
    width: 100%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
}

.social__media {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

#media {
    margin: 0 2rem;
    padding: 1.5rem 2.5rem;
    background-color: var(--color1);
    border-radius: 10px;
    border: solid 2px var(--color1);
    font-size: 4.5vw;
}
#media:hover {
    background-color: var(--color-details);
    border: solid 2px var(--color-details);
    color: var(--text-color-light);
}

.signature {
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.flower__game {
    display: none;
}

/* Responsive tablet +768px ==================================== */
@media only screen and (min-width : 768px) {

    .main__contact {
        padding: 12rem 6rem;
    }

    .social__media {
        padding: 3rem;
    }

    footer {
        padding: 10rem 2rem 7rem;
    }
}

/* Responsive desktop +1024px ==================================== */
@media only screen and (min-width : 1024px) {
    
    .main__contact {
        margin-top: 10rem;
    }

    .contact__title {
        font-size: 4vw;
        font-weight: 560;
        margin-bottom: 5.5rem;
    }

    .contact__infos {
        font-size: 1.6vw;
        padding: 0 4rem;
        line-height: 1.8;
        letter-spacing: 2px;
    }

    footer {
        padding: 13rem 4rem 10rem;
    }

    #media {
        font-size: 1.8vw;
    }

    .social__media {
        justify-content: center;
        padding: 0;
    }

    .signed {
        font-size: 1.2vw;
        padding-top: 4rem;
    }   
}