/* Main section Top Design =========================================== */

main {
    min-height: 100vh;
}

.main__top {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.home__left {
    width: 100%;
    height: 115%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
}

.home__right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color2);
    align-items: center;
}

/* Left part ==================================== */

.cv {
    position: relative;
    top: 4.5rem;
    right: 7rem;
    border: solid 3px var(--color-white);
    border-radius: 50%;
    padding: 3.2rem;
    z-index: 1;
}
.cv__link {
    font-family: var(--text-font-title);
    font-size: 3.5rem;
    font-weight: 560;
}

.profil {
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    overflow: hidden;
    z-index: 5;
}
.img__profil {
    position: relative;
    top: -1rem;
    width: 100%;  
    object-fit: cover;
    transition: transform .3s ease-in-out;
}

/* Right part ==================================== */

.name {
    font-family: var(--text-font-title);
    font-size: 6rem;
    color: var(--text-color);
    margin-bottom: 1rem;
    font-weight: 560;
}

.work {
    font-family: var(--text-font);
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}