/* Main section projects Design =========================================== */
/* 
.main__projects {
    padding: 2rem 0;
} */

.projects__title {
    color: var(--text-color);
    padding: 4rem 0;
    text-align: center;
}

.title {
    font-family: var(--text-font-title);
    font-size: 8.5vw;
    font-weight: 560;
}

.subtitle {
    font-family: var(--text-font);
    font-size: 4.5vw;
    padding-top: 1rem;
}

.projects__all {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#img__project {
    position: relative;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.1);

    /* height: 180px; */
    /* clip-path: ellipse(41% 50%);
    filter: grayscale(100%); */
}

#picture {
    width: 100%;
    background-color: var(--color1);
    padding: 4rem;
}
/* test to put a background special*/
/* #project::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    width: 83%;
    height: 40%;
    background: var(--color2);
    z-index: -1;
    align-items: right;
} */

#infos {
    margin: 4rem 0;
    text-align: left;
}

#infos__title {
    font-size: 6vw;
    font-weight: 300;
    padding-bottom: 2rem;
    padding-left: 4rem;
}
#infos__title::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: var(--color3);
    margin-top: 0.2rem;
}

#infos__text {
    font-size: 3.5vw;
    padding: 0 4rem;
    line-height: 1.7;
}

#info__languages {
    font-size: 3.5vw;
    font-weight: 500;
    padding: 1.5rem 4rem;
    color: var(--color-details);
    line-height: 1.5;
}

/* Responsive tablet +768px ==================================== */
@media only screen and (min-width : 768px) {
    .projects__title {
        padding: 12rem 0  8rem;
    }

    #picture {
        padding: 12rem;
    }

    #infos {
        margin: 8rem 0 12rem;
    }

    #infos__title {
        padding-left: 10rem;
    }
    #infos__title::after {
        height: 4px;
    }

    #infos__text {
        padding: 0 10rem;
    }
    
    #info__languages {
        padding: 1.5rem 10rem;
    }
}