/* Main section skills Design =========================================== */

.main__skills {
    /* height: 144vh;
    width: 100%; */
    background-color: var(--color1);
    padding: 4rem;
}

.skills__title {
    /* position: absolute; */
    color: var(--text-color);
    font-family: var(--text-font-title);
    font-size: 8.5vw;
    font-weight: 560;
    padding-top: 2rem;
    text-align: center;
}


.skills__all {
    /* position: absolute; */
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#skills__list {
    width: 100%;
    text-align: center;
}

#list__title {
    font-size: 4.5vw;
    padding: 3.5rem 0 1rem 0;
}

#articles {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;

}

figure {
    /* display: none; */
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 55px;
    border: solid 2px var(--color-white);
    margin: 1rem;
} 

figcaption {
    background-color: #e60000;
    color: aquamarine;
}

/* Responsive mobile +1024px ==================================== */
@media only screen and (min-width : 1024px) {

    /* .main__skills {
        height: 150vh;
        padding: 0;
    } */

    .skills__all {
        width: 93vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 7rem;
        margin: auto;
        align-content: space-between;
    }

    #skills__list {
        /* padding-top: 7rem; */
        width: 32vw;
        height: 40vh;
        padding: 3rem;
        border: solid 1px var(--color3);
        border-radius: 50%;
    }

    .skills__title {
        font-size: 4vw;
        padding-bottom: 4rem;
    }

    #list__title {
        font-size: 1.5vw;
        /* padding: 12rem 0 3.5rem 0; */
        padding: 0;

    }

    #articles {
        padding: 0 5rem;
        margin-top: 2rem;
    }

    figure {
        width: 60px;
        margin: 1rem;
    } 

}