/* Main section projects Design =========================================== */

.main__projects {
    padding: 2rem 0;
}

.projects__title {
    /* position: absolute; */
    color: var(--text-color);
    padding: 4rem 0;
    text-align: center;
}

.title {
    font-family: var(--text-font-title);
    font-size: 8.5vw;
    font-weight: 560;
}

.subtitle {
    font-family: var(--text-font);
    font-size: 4.5vw;
    padding-top: 1rem;
}

.projects__all {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
    background-color: var(--color2);
}


#img__project {
    position: relative;
    height: 180px;
    clip-path: ellipse(41% 50%);
    filter: grayscale(100%);
}

#picture {
    width: 100%;
}
/* test to put a background special*/
/* #project::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    width: 83%;
    height: 40%;
    background: var(--color2);
    z-index: -1;
    align-items: right;
} */

#infos {
    margin: 2rem 0;
    text-align: left;
}

#infos__title {
    font-size: 4.5vw;
    font-weight: 300;
    padding-bottom: 1rem;
    padding-left: 3rem;
}
#infos__title::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: var(--color3);
    margin-top: 0.2rem;
}

#infos__text {
    font-size: 3.5vw;
    padding: 0 3rem;
}

#info__languages {
    font-size: 3.5vw;
    font-weight: 700;
    padding: 1.5rem 3rem;
}
