/* Header Design =========================================== */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 2%;
    background: var(--color-white);
    font-weight: 400;
    box-shadow: rgba(87, 87, 87, 0.24) 0px 3px 8px; 
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 600;
    margin: 0 3rem 0 3rem; 
}

.container__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
} 

.menu__links svg {
    display: none;
}

.menu__links {
    background-color: var(--color3);
    color: var(--text-color-light);
    height: 20%;
    width: 18rem;
    position: fixed;
    top: 0;
    right: -18rem;
    padding: 2.5rem 2.5rem 14.5rem;
    transition: left 0.5s ease;
    z-index: 1000;
    border-radius: 20% 0 20% 20%;

}

.menu__links.active {
    right: 0;
}

.close {
    font-size: 2.2rem;
    position: absolute;
    top: 10%;
    right: 25px;
}
.close:hover {
    color: var(--color2);
}   

.menu__links ul{
    display: flex;
    flex-direction: column;
    margin-top: 1.4rem;
    height: 100%;

}

.menu__link {
    color: var(--text-color-light);
    font-size: 2rem;
    font-weight: 100;
    margin: 0.8rem;
    transition: 0.3s;
}
.menu__link:hover {
    color: var(--color2);
}   

/* Icône burger */
.burger-icon span {
    display: block;
    width: 23px;
    height: 3px;
    background-color: var(--color4);
    margin: 5px 3rem;
}


/* Responsive mobile +768px --------------------------------------- */
@media only screen and (min-width : 768px) {
    #openBtn {
        display: none;
    }
    #closeBtn {
        display: none;
    }
    
    .menu__links {
        background-color: var(--color-white);
        color: var(--text-color);
        top: auto;
        height: 0;
        width: 0;
        right: 0%;
        padding: 0;
        margin-right: 3rem;
        z-index: 100;
    }

    .menu__links ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        z-index: 100;
        margin-top: 0;
        height: 0;
    }

    .menu__link {
        display: inline-block;
        text-decoration: none;
        position: relative;
        /* padding: 14px 0; */
        font-size: 2rem;
        color: var(--text-color);
        margin: 0 3rem 0 3rem;
        transition: none;
    }

    /* Animation hand drawing circle navbar */
    .menu__link svg {
        display: block;
        fill: none;
        stroke-miterlimit: 10;
        stroke-dasharray: 338;
        stroke-dashoffset: 338;
        stroke-linecap: round;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
        z-index: -1;
    }
    .menu__link:hover svg {
        stroke-dashoffset: 0;
        opacity: 1;
        transition: opacity 0s, stroke-dashoffset 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .menu__link:hover {
        color: var(--text-color);
    }

    #circle1 {
        width: calc(100% + 50px);
    }
    #circle2 {
        width: calc(100% + 40px);
    }
    #circle3 {
        width: calc(100% + 15px);
    }
}
